{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load static %}

{% block after_related_objects %}
    <li style="list-style-type:none">
      <div style="width:600;height:500" id="graph">
      </div>
    </li>
{% endblock %}

{% block admin_change_form_document_ready %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'django-ipam/js/plotly-latest.min.js' %}"></script>
  <script type="text/javascript">
  var data = [{
    values: {{values|safe}},
    labels: {{labels|safe}},
    type: 'pie'
    }];

    Plotly.newPlot('graph', data);
  </script>
{% endblock %}
