{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block title %}
  {% trans "Import Subnet" %}
{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        {% if site_url %}
            <a href="{{ site_url }}">{% trans 'View site' %}</a> /
        {% endif %}
        {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
            {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
        {% endif %}
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url subnet_list_url %}">{% trans 'Subnets' %}</a>
&rsaquo; {% trans 'Import' %}
</div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <form action="{% url 'admin:import_ipaddress' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <div class="submit-row">
        <p class="deletelink-box">
          <a href="{% url subnet_list_url %}" class="deletelink">Cancel</a>
        </p>
        <input type="submit" value="{% trans 'Save' %}" class="default" />
      </div>
    </form>
  </div>
{% endblock %}
